<h1>Edit Blog</h1>
<%= form_tag '/update', method: 'post' do %>
    <input type="hidden" name="id" value="<%=@bb.id%>">
    <textarea name="naeyong"><%=@bb.content%></textarea>
    <input type="submit">
<% end %>